---
import { Image } from "astro:assets";

import Layout from "@/layouts/Layout.astro";
import Button from "@/components/Button.astro";
import TalkCard from "@/components/TalkCard.astro";

import heroImage from "@/assets/hero_image.svg";
import heroIlustration from "@/assets/hero_graphic.svg";

import { contentfulClient, type Talk } from "@/lib/contentful";
import type { Asset } from "contentful";

const talkEntries = await contentfulClient.getEntries<Talk>({
  content_type: "talk",
  //@ts-ignore
  order: "fields.date",
});

const talksList = talkEntries?.items?.map((item) => {
  const { title, date, description, signUpUrl, thumbnail, color } = item.fields;
  let fullImageURL;

  if (thumbnail && "fields" in thumbnail) {
    const asset = thumbnail as Asset;
    const assetURL = asset.fields.file?.url?.toString();
    fullImageURL = `https:${assetURL}`;
  }

  return {
    title,
    date: new Date(date).toLocaleString("es-Es", {
      day: "numeric",
      month: "long",
      year: "numeric",
      hour: "2-digit",
      minute: "2-digit",
      hour12: true,
    }),
    description,
    signUpUrl,
    thumbnail: fullImageURL ?? "",
    color,
  };
});
---

<Layout title="ParchaTech">
  <main>
    <section id="hero">
      <div class="hero__bg"></div>
      <Image
        class="hero__ilustration"
        src={heroIlustration}
        alt="Figura ovalada con una estrella de color naranja orbitando alrededor"
      />

      <div class="hero__container">
        <h1 class="hero__header hero__header--white">
          Tecnología y<br />amigos<br />en un mismo<br />
          <span class="hero__header--black">lugar</span>
        </h1>
        <Image
          class="hero__image"
          src={heroImage}
          alt="Ilustración de tres personas sentadas con una taza de café en la mano"
        />
      </div>

      <p class="text-body hero__description">
        ParchaTech es una comunidad que brinda charlas enfocadas en el
        crecimiento personal y profesional, en el mundo de la tecnología.
      </p>

      <div class="hero__btn-container">
        <Button text="Agenda" type="primary" href="/#talks" />
        <Button text="Conocer más" type="link" href="/" />
      </div>
    </section>

    <section id="talks">
      <h2 class="text-header talks__header">
        Próximas<br />
        <span class="talks__header-divider"></span>
        Charlas
      </h2>
      <div class="talks__container">
        {
          talksList.map((talk) => (
            <TalkCard
              title={talk.title}
              description={talk.description}
              date={talk.date}
              signUpURL={talk.signUpUrl}
              thumbnail={talk.thumbnail}
              color={talk.color}
            />
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  #talks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 250px 0;
  }
</style>
