---
// Astro Components
import { Image } from "astro:assets";

// Components
import Button from "@/components/Button.astro";

// Contentful
import { getAssets } from "@/lib/contentful";

import bgSphere from "@/assets/bg_sphere.svg";

const rightGridAssets = await getAssets("right grid");
const leftGridAssets = await getAssets("left grid");
---

<script>
  import createHeroAnimations from "@/lib/animations/hero";

  createHeroAnimations();
</script>
<section id="hero" class="px-4 lg:px-16 lg:pt-16">
  <div class="hero__sphere-container absolute left-0 z-10 h-full w-full">
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-2/4 top-[-120px] w-8 lg:left-1/3"
    />
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-[-30px] top-[-50px] w-20 md:left-[-40px] md:w-32 lg:left-12"
    />
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-2/4 top-[-55px] w-32 md:top-0 md:w-48 lg:left-1/2 lg:w-52"
    />
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-12 top-1/4 w-16 lg:left-36 lg:top-10"
    />
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-3/4 top-8 w-8"
    />
    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative left-1/2 top-1/4 w-24 md:top-0"
    />

    <Image
      src={bgSphere}
      alt="Floating sphere in the background"
      class="relative bottom-1/2 left-3/4 top-[-700px] hidden w-40 lg:block"
    />
  </div>
  <div
    class="absolute left-0 flex w-full items-center justify-between gap-6 overflow-hidden px-4 lg:top-0 lg:h-full"
  >
    <div class="hero__grid-left flex h-full w-1/2 justify-end gap-6">
      <Image
        src={leftGridAssets[0]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={leftGridAssets[1]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={leftGridAssets[2]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={leftGridAssets[3]}
        inferSize
        alt="White grid in the background"
      />
    </div>
    <div class="hero__grid-right flex h-full w-1/2 justify-start gap-6">
      <Image
        src={rightGridAssets[0]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={rightGridAssets[1]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={rightGridAssets[2]}
        inferSize
        alt="White grid in the background"
      />
      <Image
        src={rightGridAssets[3]}
        inferSize
        alt="White grid in the background"
      />
    </div>
  </div>
  <div class="content-layout relative z-10">
    <div class="flex w-full items-center justify-center">
      <div class="w-full">
        <h1 class="hero__header text-4xl text-secondary md:text-6xl">
          <span class="text-6xl leading-none md:text-[150px] lg:max-w-3xl"
            >Tecnología y amigos
          </span><span>en un mismo lugar</span>
        </h1>
        <p class="hero__description my-8 text-secondary">
          ParchaTech es una comunidad que brinda charlas enfocadas en el
          crecimiento personal y profesional, dentro del mundo de la tecnología.
        </p>
        <div class="flex w-full flex-wrap items-center gap-4 md:gap-8">
          <Button text="Agenda" type="secondary" href="/#talks" />
          <Button text="Únete a la comunidad" type="link" href="/#volunteer" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #hero {
    background-color: var(--primary-color);
    height: 100vh;
  }

  .hero__header {
    margin: 0px;
    line-height: 100%;
    font-family: var(--secondary-font);
    font-weight: normal;
  }

  .hero__description {
    max-width: 550px;
  }

  .hero__grid-left > img,
  .hero__grid-right > img {
    opacity: 0;
  }
</style>
