---
// Content query
import { getTalkEntries } from "@/lib/contentful";

// Components
import TalkCard from "@/components/TalkCard.astro";
import EmptyTalkCard from "@/components/EmptyTalkCard.astro";

const talkList = await getTalkEntries();
---

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".talks__slider > h2 > span", {
    xPercent: -100,
    duration: 4,
    ease: "none",
    repeat: -1,
  });

  gsap.from(".talks__container", {
    autoAlpha: 0,
    y: 50,
    ease: "back.out",
    duration: 2,
    scrollTrigger: ".talks__container",
    top: "top bottom",
  });
</script>

<section id="talks">
  <div class="talks__slider relative border-y border-current pb-8 pt-10">
    <h2 class="flex w-full items-center justify-between">
      {
        Array.from({ length: 8 }).map((_, index) => (
          <span
            class={`text-header block min-w-96 ${index % 2 === 0 ? "" : "outlined-text"}`}
          >
            Próximos Eventos
          </span>
        ))
      }
    </h2>
  </div>
  <div class="talks__container">
    {
      talkList.length === 0 ? (
        <EmptyTalkCard />
      ) : (
        talkList.map((talk) => (
          <TalkCard
            title={talk.title}
            description={talk.description}
            date={talk.date}
            location={talk.location}
            signUpURL={talk.signUpUrl}
            thumbnail={talk.thumbnail}
            color={talk.color}
            ctaDisabled={talk.ctaDisabled}
          />
        ))
      )
    }
  </div>
</section>

<style>
  #talks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 100px 16px;
    height: 100vh;
  }

  .talks__slider > h2 > span {
    font-size: 3.5rem;
  }

  .outlined-text {
    color: var(--primary-color);
    -webkit-text-fill-color: var(
      --secondary-color
    ); /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px var(--primary-color);
  }

  .talks__header {
    margin-bottom: 100px;
    width: 100%;
  }

  .talks__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }

  .talks__header-divider {
    display: block;
    text-align: center;
    width: 30%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 4px auto;
  }
</style>
