---
// Content query
import { getTalkEntries } from "@/lib/contentful/queries";

// Components
import TalkCard from "@/components/TalkCard.astro";
import EmptyTalkCard from "@/components/EmptyTalkCard.astro";

const talkList = await getTalkEntries();
---

<script>
  import createTalksAnimation from "@/lib/gsap/talks.ts";

  createTalksAnimation();
</script>

<section id="talks" class="bg-secondary px-4 py-20 xl:h-screen">
  <div class="talks__slider border-y border-current pb-8 pt-10">
    <h2 class="flex w-full items-center justify-between">
      {
        Array.from({ length: 8 }).map((_, index) => (
          <span
            class={`text-header block min-w-96 ${index % 2 === 0 ? "" : "outlined-text"}`}
          >
            Próximos Eventos
          </span>
        ))
      }
    </h2>
  </div>
  <div class="talks__container mt-16">
    {
      talkList.length === 0 ? (
        <EmptyTalkCard />
      ) : (
        talkList.map((talk) => (
          <TalkCard
            title={talk.title}
            description={talk.description}
            date={talk.date}
            location={talk.location}
            signUpURL={talk.signUpUrl}
            thumbnail={talk.thumbnail}
            color={talk.color}
            ctaDisabled={talk.ctaDisabled}
          />
        ))
      )
    }
  </div>
</section>

<style>
  #talks {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }

  .talks__slider > h2 > span {
    font-size: 3.5rem;
  }

  .outlined-text {
    color: var(--primary-color);
    -webkit-text-fill-color: var(
      --secondary-color
    ); /* Will override color (regardless of order) */
    -webkit-text-stroke: 1px var(--primary-color);
  }

  .talks__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }
</style>
