---
// Astro components
import { Image } from "astro:assets";

// Contentful
import { getAsset, getAssets } from "@/lib/contentful/queries";
import {
  ICONS_ID,
  ARROW_UP_ICON_ID,
  PARCHATECH_CURVE_TEXT_ID,
} from "@/lib/contentful/constants";

const icons = await getAssets(ICONS_ID);
const curveText = await getAsset(PARCHATECH_CURVE_TEXT_ID);
const arrowUp = await getAsset(ARROW_UP_ICON_ID);

const [_, instagramIcon, linkedinIcon, wppIcon] = icons;
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";
  import { rotate } from "@/lib/gsap/core.ts";

  rotate("footer > a > .content-layout > div > img");
  addAnimationObserver("footer .divider", "play", 0.2);
</script>
<footer class="w-full px-4">
  <a href="#talks" class="mb-4 w-full">
    <div
      class="content-layout relative flex flex-col items-center justify-center"
    >
      <div class="flex w-full items-center justify-center gap-8">
        <div class="divider growLeft max-w-20 bg-secondary"></div>
        <Image
          inferSize
          class="w-1/2 max-w-40 md:w-full"
          src={curveText}
          alt="Las palabras ParchaTech y 2025 formando un círculo"
        />
        <div class="divider growRight max-w-20 bg-secondary"></div>
      </div>
      <Image
        inferSize
        src={arrowUp}
        alt="Flecha apuntando hacía arriba"
        class="bounce absolute"
      />
    </div>
  </a>
  <div class="my-10 flex gap-6">
    <a
      href="https://www.instagram.com/parchatech/"
      target="_blank"
      class="onHover"
      ><Image inferSize src={instagramIcon} alt="Logo de Instagram" /></a
    >
    <a
      href="https://chat.whatsapp.com/FFI7K3KVypB4OVm5CcRmQB"
      target="_blank"
      class="onHover"
      ><Image inferSize src={wppIcon} alt="Logo de Whatsapp" /></a
    >
    <a
      href="https://www.linkedin.com/company/parchatech"
      target="_blank"
      class="onHover"
      ><Image inferSize src={linkedinIcon} alt="Logo de LinkedIn" /></a
    >
  </div>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
</style>
