---
import { ContentSchemaContainsSlugError } from "node_modules/astro/dist/core/errors/errors-data";
import Button from "./Button.astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  description: string;
  date: string;
  signUpURL: string;
  thumbnail: string;
  color: string;
  ctaDisabled: boolean;
}

const { title, description, date, signUpURL, thumbnail, color, ctaDisabled } =
  Astro.props;

const [eventDate, time] = date.split(", ");
---

<article class="card">
  <Image
    src={thumbnail}
    alt="Ilustración gráfica con el logo respectivo para la charla"
    inferSize
  />
  <div class="card__container">
    <h3 class="text-title card__title">{title}</h3>
    {
      date !== "Invalid Date" && eventDate ? (
        <p class="text-label card__label">{eventDate}</p>
      ) : null
    }
    {ctaDisabled ? null : <p class="text-label card__label mt-4">{time}</p>}
    <p class="card__description">{description}</p>
    {
      ctaDisabled ? (
        <Button
          text="Pronto"
          type="full-width"
          href={signUpURL}
          backgroundColor="#4B4E53"
          disabled
        />
      ) : (
        <Button
          text="Inscribirse"
          type="full-width"
          href={signUpURL}
          backgroundColor={color}
          targetBlank
        />
      )
    }
  </div>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .card__container {
    padding: 24px;
  }

  .card__title {
    margin-bottom: 1rem;
  }

  .card__description {
    margin: 42px 0;
  }
</style>
