---
// Astro Components
import { Image } from "astro:assets";

// Components
import Button from "@/components/Button.astro";

interface Props {
  title: string;
  description: string;
  date: string;
  location: string;
  signUpURL: string;
  thumbnail: string;
  color: string;
  ctaDisabled: boolean;
}

const {
  title,
  description,
  date,
  location,
  signUpURL,
  thumbnail,
  color,
  ctaDisabled,
} = Astro.props;

const [eventDate, time] = date.split(", ");
---

<article class="card">
  <Image
    src={thumbnail}
    alt="Ilustración gráfica con el logo respectivo para la charla"
    inferSize
  />
  <div class="flex h-full flex-col justify-between p-6">
    <div>
      <h3 class="text-title mb-6">{title}</h3>
      {
        eventDate != "Invalid Date" && (
          <p class="text-label card__label font-bold">{eventDate}</p>
        )
      }

      {location && <p class="text-label my-2">{location}</p>}

      {!ctaDisabled && <p class="text-label card__label">{time}</p>}

      <p class="my-7">{description}</p>
    </div>
    {
      ctaDisabled ? (
        <Button
          text="Pronto"
          type="full-width"
          href={signUpURL}
          backgroundColor="#4B4E53"
          disabled
        />
      ) : (
        <Button
          text="Inscribirse"
          type="full-width"
          href={signUpURL}
          backgroundColor={color}
          externalLink
        />
      )
    }
  </div>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }
</style>
