---
// Astro Component
import { Image } from "astro:assets";

import heroCircleLg from "@/assets/hero_circle_lg.svg";
import heroCircleMd from "@/assets/hero_circle_md.svg";
import heroCircleSm from "@/assets/hero_circle_sm.svg";

// Components
import Button from "@/components/Button.astro";
---

<script>
  const addParallaxEffect = (
    elementList: NodeListOf<Element>,
    movementMultiplier: number,
  ) => {
    document.addEventListener("mousemove", (e) => {
      const { clientX, clientY } = e;

      const centerX = window.innerWidth / 2;
      const centerY = window.innerHeight / 2;

      const moveX = (clientX - centerX) / centerX;
      const moveY = (clientY - centerY) / centerY;

      elementList.forEach((circle, index) => {
        const depth = index + 1;
        const translateX = -moveX * depth * movementMultiplier;
        const translateY = -moveY * depth * movementMultiplier;

        const htmlCircle = circle as HTMLElement;

        htmlCircle.style.transform = `translate(${translateX}px, ${translateY}px)`;
      });
    });
  };

  const firstParallaxCircles = document.querySelectorAll(
    ".hero__grid div:first-child > img",
  );

  const secondParallaxCircles = document.querySelectorAll(
    ".hero__grid div:nth-child(2) > img",
  );

  addParallaxEffect(firstParallaxCircles, 30);
  addParallaxEffect(secondParallaxCircles, 5);
</script>

<section id="hero">
  <div class="hero__grid content-layout">
    <div
      class="col-start-2 row-span-3 row-start-1 hidden grid-cols-2 grid-rows-none md:grid"
    >
      <Image
        src={heroCircleLg}
        alt="Círculo grande de un degradado de naranja a morado"
        class="relative bottom-1/3 z-10 col-start-2 row-start-1 max-h-max max-w-max xl:bottom-0"
      />
      <Image
        src={heroCircleMd}
        alt="Círculo mediano de un degradado de naranja a morado"
        class="relative top-1/4 z-20 col-start-2 row-start-1 max-h-max max-w-max xl:left-full"
      />
      <Image
        src={heroCircleSm}
        alt="Círculo pequeño de un degradado de naranja a morado"
        class="relative left-16 top-8 z-30 col-start-2 row-start-1 max-h-max max-w-max xl:left-3/4 xl:top-20 xl:justify-self-end"
      />
      <div class="col-start-1 row-start-1 h-2/3 w-full bg-primary"></div>
      <div class="col-start-2 row-start-1 h-full w-screen bg-primary"></div>
    </div>

    <div class="hidden grid-cols-2 grid-rows-none lg:grid">
      <Image
        src={heroCircleSm}
        alt="Círculo pequeño de un degradado de naranja a morado"
        class="relative bottom-1/3 col-start-1 row-start-1 max-h-max max-w-max xl:bottom-1/4 xl:left-3/4"
      />
      <Image
        src={heroCircleLg}
        alt="Círculo grande de un degradado de naranja a morado"
        class="relative bottom-3/4 col-start-2 row-start-1 max-h-max max-w-max xl:bottom-1/2 xl:left-full"
      />

      <Image
        src={heroCircleMd}
        alt="Círculo mediano de un degradado de naranja a morado"
        class="relative col-start-2 row-start-1 max-h-max max-w-max drop-shadow-lg xl:left-full"
      />

      <Image
        src={heroCircleMd}
        alt="Círculo mediano de un degradado de naranja a morado"
        class="relative col-start-2 row-start-1 max-h-max max-w-max self-end justify-self-end"
      />
    </div>
    <h1
      class="hero__header col-span-2 col-start-1 row-start-1 w-full text-secondary"
    >
      Tecnología y<br /><span class="hero__header--gradient">amigos</span><br
      />en un mismo<br />
      <span class="text-primary">lugar</span>
    </h1>
    <p class="text-body hero__description col-start-1 row-start-3">
      ParchaTech es una comunidad que brinda charlas enfocadas en el crecimiento
      personal y profesional, dentro del mundo de la tecnología.
    </p>
    <div
      class="col-start-1 row-start-4 flex items-center justify-start gap-2 self-start md:gap-6 xl:gap-12"
    >
      <Button text="Agenda" type="primary" href="/#talks" />
      <Button text="Conocer más" type="link" href="/#volunteer" />
    </div>
  </div>
</section>

<style>
  #hero {
    background: linear-gradient(
      to bottom,
      var(--primary-color) 190px,
      var(--secondary-color) 32%
    );
    margin-bottom: 160px;
  }

  .hero__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    padding: 0 16px;
  }

  .hero__header {
    margin: 0px;
    /*   font-size: 96px; desktop*/
    font-size: 64px;
    line-height: 100%;
    font-family: var(--secondary-font);
    font-weight: normal;
  }

  .hero__header--gradient {
    color: transparent;
    background: linear-gradient(to right, var(--orange), var(--purple));
    background-clip: text;
  }

  .hero__description {
    margin: 24px 0;
    max-width: 550px;
    color: var(--primary-color);
  }

  @media (min-width: 768px) {
    .hero__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .hero__grid {
      grid-template-columns: repeat(3, 1fr);
      padding: 0 64px;
    }
  }

  @media (min-width: 1280px) {
    #hero {
      background: linear-gradient(
        to bottom,
        var(--primary-color) 290px,
        var(--secondary-color) 32%
      );
      margin-bottom: 140px;
    }

    .hero__header {
      font-size: 96px;
    }
  }
</style>
