---
// Astro Component
import { Image } from "astro:assets";

import heroCircleLg from "@/assets/hero_circle_lg.svg";
import heroCircleMd from "@/assets/hero_circle_md.svg";
import heroCircleSm from "@/assets/hero_circle_sm.svg";

// Components
import Button from "@/components/Button.astro";
---

<section id="hero">
  <div class="hero__grid">
    <Image
      src={heroCircleLg}
      alt="Círculo grande de un degradado de naranja a morado"
      class="relative xl:bottom-4 z-10 xl:col-start-3 xl:row-start-1 min-h-max min-w-max md:bottom-1/2 md:col-start-2"
    />
    <Image
      src={heroCircleMd}
      alt="Círculo mediano de un degradado de naranja a morado"
      class="relative left-3/4 top-1/3 z-10 col-start-3 row-start-1 hidden max-h-fit"
    />
    <Image
      src={heroCircleSm}
      alt="Círculo pequeño de un degradado de naranja a morado"
      class="relative left-10 top-1/3 z-10 col-start-4 row-start-1 hidden max-h-fit"
    />
    <Image
      src={heroCircleSm}
      alt="Círculo pequeño de un degradado de naranja a morado"
      class="relative bottom-1/4 z-10 col-start-4 row-start-1 hidden max-h-fit"
    />
    <Image
      src={heroCircleLg}
      alt="Círculo grande de un degradado de naranja a morado"
      class="relative bottom-2/3 left-full z-10 col-start-5 row-start-1 hidden min-h-max min-w-max"
    />
    <Image
      src={heroCircleMd}
      alt="Círculo mediano de un degradado de naranja a morado"
      class="relative bottom-12 left-full z-10 col-start-5 row-start-1 hidden max-h-fit"
    />
    <Image
      src={heroCircleLg}
      alt="Círculo grande de un degradado de naranja a morado"
      class="relative z-10 col-start-5 row-span-3 row-start-2 hidden min-h-max min-w-max"
    />
    <Image
      src={heroCircleSm}
      alt="Círculo pequeño de un degradado de naranja a morado"
      class="relative z-10 col-start-5 row-start-2 hidden max-h-fit justify-self-end"
    />
    <h1
      class="hero__header col-span-2 col-start-1 row-start-1 w-full text-secondary"
    >
      Tecnología y<br /><span class="hero__header--gradient">amigos</span><br
      />en un mismo<br />
      <span class="text-primary">lugar</span>
    </h1>
    <p class="text-body hero__description col-start-1 row-start-2">
      ParchaTech es una comunidad que brinda charlas enfocadas en el crecimiento
      personal y profesional, dentro del mundo de la tecnología.
    </p>
    <div
      class="col-start-1 row-start-3 flex items-center justify-start gap-6 self-start xl:gap-12"
    >
      <Button text="Agenda" type="primary" href="/#talks" />
      <Button text="Conocer más" type="link" href="/#volunteer" />
    </div>
    <div class="col-start-4 row-start-1 hidden h-full w-screen bg-primary">
    </div>
    <div
      class="col-start-5 row-span-3 row-start-1 hidden h-full w-screen bg-primary"
    >
    </div>
    <div
      class="z-20 col-start-5 row-span-2 row-start-3 hidden h-full w-screen bg-secondary"
    >
    </div>
  </div>
</section>
