---
// Content query
import { getTalkEntries } from "@/lib/contentful";

// Components
import TalkCard from "@/components/TalkCard.astro";

const talkList = await getTalkEntries();
---

<script>
  import { addAnimationObserver } from "@/lib/observer.ts";

  addAnimationObserver(".talks__header .divider", "play", 0.4);
  addAnimationObserver(".talks__header", "play", 0.4);
</script>

<section id="talks">
  <div class="bg__grid-overlay-radial top-0"></div>
  <h2 class="text-header talks__header slideTop">
    Próximas<br />
    <span class="divider growRight mx-auto my-1 bg-primary md:max-w-sm"></span>
    Charlas
  </h2>
  <div class="talks__container">
    {
      talkList.map((talk) => (
        <TalkCard
          title={talk.title}
          description={talk.description}
          date={talk.date}
          signUpURL={talk.signUpUrl}
          thumbnail={talk.thumbnail}
          color={talk.color}
          ctaDisabled={talk.ctaDisabled}
        />
      ))
    }
  </div>
</section>

<style>
  #talks {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 16px;
  }

  .talks__header {
    margin-bottom: 100px;
    width: 100%;
  }

  .talks__container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 24px;
  }

  .talks__header-divider {
    display: block;
    text-align: center;
    width: 30%;
    height: 2px;
    background-color: var(--primary-color);
    margin: 4px auto;
  }
</style>
